language: python
cache: pip

branches:
  only:
    - master
    - develop
    - /^pr\..*/

python:
  - "3.6"

before_install:
  - export PYTHONPATH=$HOME/build/goranvrbaski/python-namesilo

install:
  - pip install -r requirements.txt
  - pip install codecov
  - pip install coverage

script:
  - coverage run tests/test_namesilo.py

after_success:
  - codecov

deploy:
  provider: pypi
  user: goran.vrbaski
  password: $pypi_pass
  on:
    tags: false
    branch: master